<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bi da Sesa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icons-logo.svg') }}" type="image/x-icon">
</head>
<body>
    <div id="div-main">
        <div class="div-login">
            <h2>Login</h2>
            <form action='{{ url_for("login")}}' method="POST">
                <input type="text"     id="username" name="username" required placeholder="Nome de Usuário">
                <input type="password" id="password" name="password" required placeholder="Senha">
                <button>Login</button>
            </form>
        </div>
    </div>
    <div id="div-cadastro">
        <h4>Novo por aqui? </h4><a href='{{ url_for("cadastro")}}'> <h4> Cadastre-se </h4> </a>
    </div>
</body>
</html>