<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BI da Sesa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/config_user.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/icons-logo.svg') }}" type="image/x-icon">
</head>
<body>
    <div class='divMainCertificados'>
            
        <div>
            <h1>Conta</h1>
        </div>
        
        <form class="conta-form"  method="POST">
            <input type="text"     
                   id  ="username" 
                   name="username"  
                   required placeholder="Nome de Usuário"
                   value="{{ user_data.nome.0 or '' }}"
            >
            <input 
                type="email"     
                id  ="email" 
                name="email"       
                required placeholder="Email"
                value="{{ user_data.email.0 or '' }}"
            >
            <input 
                id  ="password" 
                name="password"  
                required placeholder="Senha"
                value="{{ user_data.password.0 or '' }}"
               
            >
            <input 
                id  ="password" 
                name="passwordR" 
                required placeholder="Confirme a Senha"
                value="{{ user_data.password.0 or '' }}"
            >
            <div>
                <button class="button-salvar-login">Salvar</button>
            </div>
        </form>
        
        <div class='div_voltar'>
            <a href='{{ url_for("home")}}'>  <h4>Voltar</h4> </a>
        </div>
    </div>
</body>
</html>